:root {
  --theme-softsalmon: hsl(10, 79%, 65%);
  --theme-cyan: hsl(186, 34%, 60%);
  --theme-darkbrown: hsl(25, 47%, 15%);
  --theme-mediumbrown: hsl(28, 10%, 53%);
  --theme-cream: hsl(27, 66%, 92%);
  --theme-verypaleorange: hsl(33, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--theme-cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  background-color: var(--theme-verypaleorange);
  max-height: 500px;
  max-width: 335px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
